{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Reporte - Historial de Componentes</title>
  <link rel="stylesheet" href="{% static 'css/historial_equipo_pdf.css' %}">
</head>
<body>

  <h1>Historial de Componentes Informáticos</h1>

  <p class="descripcion">
    Este reporte muestra un historial actualizado de todos los componentes informáticos registrados en el sistema,
    incluyendo su tipo, marca, modelo, número de serie y estado actual.
  </p>

  <h2>Listado de Componentes</h2>

  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>N° de Serie</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for comp in historial %}
      <tr>
        <td class="item">{{ forloop.counter }}</td>
        <td class="nombre">{{ comp.idTipoComponente.nombre }}</td>
        <td class="marca">{{ comp.idModelo.idMarca.nombreMarca }}</td>
        <td class="modelo">{{ comp.idModelo.nombreModelo }}</td>
        <td class="serie">{{ comp.numeroSerie }}</td>
        <td class="estado">
          {% if comp.estado == "ACTIVO" or comp.estado == "ASIGNADO" %}
          <span class="estado-activo">{{ comp.estado|capfirst }}</span>
          {% else %}
          <span class="estado-inactivo">{{ comp.estado|capfirst }}</span>
          {% endif %}
        </td>

      </tr>
      {% empty %}
      <tr>
        <td colspan="6" style="text-align:center; font-style: italic;">No hay componentes registrados.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
</html>
