body {
    font-family: 'Arial', sans-serif;
    background-color: #143574; /* Fondo azul */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 350px;
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%; /* Borde circular */
    border: 3px solid #143574;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin-bottom: 15px;
    font-size: 24px;
}

h2 {
    color: #444;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: normal;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

.login-button {
    background-color: #143574; /* Botón azul */
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}
